package templ

templ EndpointEntry(endpoint Endpoint) {
    <div id={ endpoint.EndpointID } class="endpoint">
        <div>
            <p>{ endpoint.Method } { endpoint.Path }</p>
            <p>{ endpoint.Description }</p>
        </div>
        <button class="delete-button" style="display: none" onclick={ templ.JSFuncCall("deleteEndpoint", endpoint.EndpointID) }>Delete</button>
        <hr style="margin-top: 1.5rem">
    </div>
}
